<%- include("index") %>
<p>Dashboard Page</p>
<div>
	<% if (user.profile && user.profile.length >= 1) { %>
	<div class="profile_wrapper">
		<img
			src="js/upload/<%- user.profile %>"
			alt="No Image"
		/>
	</div>
	<% } else { %>
	<div class="profile_wrapper">
		<img
			src="/assets/defavatar.png"
			alt="No Image"
		/>
	</div>
	<% } %>
	<p>@<%- user.email %></p>
	<ol style="list-style: none; display: flex; flex-direction: row; flex-wrap: wrap; gap: 1.5rem;">
		<h3>List of created users:</h3>
		<% users.forEach((el) => { %>
		<li>
			<div>
				<div>
					<% if (el.profile && el.profile.length >= 1) { %>
					<div class="profile_wrapper">
						<img
							src="js/upload/<%- el.profile %>"
							alt="No Image"
						/>
					</div>
					<% } else { %>
					<div class="profile_wrapper">
						<img
							src="/assets/defavatar.png"
							alt="No Image"
						/>
					</div>
					<% } %>
				</div>
				<div>
					<p><%- el.username %></p>
					<p><%- el.name %></p>
					<p><%- el.role %></p>
				</div>
			</div>
		</li>
		<% }); %>
	</ol>
	<ol>
		<h3>List of feedbacks:</h3>
	</ol>
	<a href="/">Back to the main page</a>
</div>
