<%- include("index") %>
<p>My account</p>
<% if (message && message.text.length > 0) { %>
<div class="error_wrapper">
	<p><%- message.text %></p>
</div>
<% } %>
<div class="form_content">
	<form
		method="post"
		autocomplete="off"
		action="/myaccount"
		id="myaccount_form"
		enctype="multipart/form-data"
	>
		<div>
			<div class="form_input_wrapper">
				<% if (user.profile && user.profile.length >= 1) { %>
				<div class="profile_wrapper">
					<input
						type="file"
						name="profile"
						id="form_file"
						accept="image/*"
						onchange="change_profile_img()"
					/>
					<img
						id="profile_img"
						src="/js/upload/<%- user.profile %>"
						alt=""
					/>
					<button onclick="delete_profile_img()">Delete Image</button>
				</div>
				<% } else { %>
				<div class="profile_wrapper">
					<input
						type="file"
						name="profile"
						id="form_file"
						accept="image/*"
						onchange="change_profile_img()"
					/>
					<img
						id="profile_img"
						src="assets/defavatar.png"
						alt=""
					/>
					<button onclick="delete_profile_img()">Delete Image</button>
				</div>
				<% } %>
			</div>
			<p><%- user.name %></p>
			<p>@<%- user.email %></p>
			<p>Role: <%- user.role %></p>
		</div>
		<div>
			<div class="form_input_wrapper">
				<label for="form_dname">Display Name:</label>
				<input
					type="text"
					name="dname"
					id="form_dname"
					value="<%= user.username %>"
				/>
			</div>
			<div class="form_input_wrapper">
				<label for="form_password">Password:</label>
				<input
					type="text"
					name="pass"
					id="form_password"
					value="<%- user.password %>"
				/>
			</div>
			<div class="form_input_wrapper">
				<label for="form_secret">Secret Code:</label>
				<input
					type="text"
					name="secret"
					id="form_secretcode"
					value="<%- user.secretcode %>"
				/>
			</div>
		</div>
		<a href="/">Back to the main page</a>
		<div class="form_input_wrapper">
			<input
				type="submit"
				value="Save Info"
				id="form_submit"
			/>
		</div>
	</form>
</div>
<script src="js/main.js"></script>
